<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><h3>Dear, {{ username }}</h3></td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    Thank you to registred on StudProject!<br/>
                </tr>
                <tr>
                    <h4>
                        <a href="http://127.0.0.1:8000/activateprofile/{{ activation_key }}" target ="_blank" title="ActivateLink" style="color: #ff4500; text-decoration: none;">
                            CLICK HERE to activate your account</a>
                    </h4>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>