{% extends "base1.html" %}

{% block body %}
    <form action="/group/{{ group.id }}/edit/success" method="post">{% csrf_token %}
        <p><input name="name" type="text" value="{{ group.name }}" size="40"/></p>
        <p>Выберите старосту: <select size="1" name="warden">
            {% for student in stud_list %}
                {% if group.warden == student.id  %}
                    <option value="{{ student.id }}" selected>{{ student }}</option>
                {% else %}
                    <option value="{{ student.id }}">{{ student }}</option>
                {% endif %}
            {% endfor %}
        </select></p>
        <input type="submit" value="Изменить" />
    </form>
{% endblock %}